<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styletabla.css">
    <link rel="stylesheet" href="css/styletemas.css">
    
    
<%- include('./fijos/menu.ejs', {variant:'compact'}) %>

<div class="main-content">
    <div class="header">
      <div class="page-display">
        <h1>BANCO DE PREGUNTAS</h1>
      </div>
    </div>

    <hr>
    <div class="featured-clay">
       

        <table class="responstable">
                
            <thead>
                <tr>
                    <th>Pregunta</th>
                    <th>Opci贸n 1</th>
                    <th>Opci贸n 2</th>
                    <th>Opci贸n 3</th>
                    <th>Opci贸n 4</th>
                    <th>Respuesta Correcta</th>
                  <th style="visibility:collapse; display:none;">Examen</th>
                </tr>
              </thead>
        <tbody>
            <% preguntas.forEach(pregunta => { %>
                <tr>
                  <td><%= pregunta.pregunta %></td>
                  <td><%= pregunta.opcion1 %></td>
                  <td><%= pregunta.opcion2 %></td>
                  <td><%= pregunta.opcion3 %></td>
                  <td><%= pregunta.opcion4 %></td>
                  <td><%= pregunta.respuesta_correcta %></td>
                  <td style="visibility:collapse; display:none;"><%= pregunta.test_id %></td>
                </tr>
              <% }) %>
          </tbody>
        </table>

        
<br>
<a href="/formularioCrearPreguntas?testId=<%= testId %>">Agregar Preguntas</a>
</div>
<hr>
</div>

</body>
</html>