<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styletabla.css">
    <link rel="stylesheet" href="css/styletemas.css">
    
    
<%- include('./fijos/menu.ejs', {variant:'compact'}) %>

<div class="main-content">
    <div class="header">
      <div class="page-display">
        <h1>LISTA DE EXAMENES</h1>
      </div>
    </div>

    <hr>
    <div class="featured-clay">
        <form action="/guardarExamen" method="POST">
            <div class="inputs"> 

                <label for="nombreExamen">Nombre del Examen:</label>
                <input  class="form-input uk-input" type="text" id="nombreExamen" name="nombreExamen" required>
                <br>
                <label for="temaExamen">Tema del Examen:</label>
                <div class="select-style">
                <select id="temaExamen" name="temaExamen" required>
                <% temas.forEach(tema => { %>
                    <option value="<%= tema.id %>"><%= tema.tema %></option>
                <% }) %>
                </select>
                </div>
            </div>

            <button id="submit"  class="uk-button uk-button-primary uk-button-large uk-width-1-1"  type="submit">Guardar</button>
        </form>

        <table class="responstable">
                
            <thead>
                <tr>
                  <th>ID</th>
                  <th>Examen</th>
                  <th style="visibility:collapse; display:none;">Id_Tema</th>
                  <th>Tema</th>
                </tr>
              </thead>
        <tbody>
            <% examenes.forEach(examen => { %>
                <tr>
                  <td><%= examen.id %></td>
                  <td><a href="/bancoPreguntas?testId=<%= examen.id %>"><%= examen.nombre %></a></td>
                  <td style="visibility:collapse; display:none;"><%= examen.tema_id %></td>
                  <td><%= examen.tema %></td>
                </tr>
              <% }) %>
          </tbody>
        
        
        </table>
</div>
<hr>
</div>

</body>
</html>