<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/styletabla.css">
    <link rel="stylesheet" href="css/styletemas.css">
    
    
<%- include('./fijos/menu.ejs', {variant:'compact'}) %>

<div class="main-content">
    <div class="header">
      <div class="page-display">
        <h1>LISTA DE TEMAS</h1>
      </div>
    </div>

    <hr>
    <div class="featured-clay">

        <form action="/inserttema" method="POST">
          <div class="inputs">
            
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" required>
            <br>
            <label for="descripcion">Descripción:</label>
            <textarea name="descripcion" required></textarea>
            <br>
            <label for="iddocente">ID Docente:</label>
            <select name="iddocente">
                <% usuarios.forEach(usuario => { %>
                  <option value="<%= usuario.id %>"><%= usuario.nombre %></option>
                <% }); %>
              </select>
            <br>
          </div>
            <button type="submit">Guardar</button>
          
         
          </form>




                <table class="responstable">
                
                    <thead>
                        <tr>
                          <th>ID</th>
                          <th>Tema</th>
                          <th>Docente</th>
                        </tr>
                      </thead>
                <tbody>
                    <% temas.forEach((tema) => { %>
                        <tr>
                          <td><%= tema.id %></td>
                          <td><%= tema.nombre %></td>
                          <td><%= tema.docente_id %></td>
                        </tr>
                      <% }) %>
                  </tbody>
                
                
                </table>
    </div>
    <hr>
  </div>

</div>

</div>

</div>

</div>
</body>
</html>